Homework/.vs/*
Homework/Taks №11/x64/Debug/*
Homework/Task  №13/obj/*
Homework/Task №1/x64/Debug/*
Homework/Task №10/x64/Debug/*
Homework/Task №12/x64/Debug/*
Homework/Task №13/x64/Debug/*
Homework/Task №14/x64/Debug/*
Homework/Task №2/x64/Debug/*
Homework/Task №3/x64/Debug/*
Homework/Task №4/x64/Debug/*
Homework/Task №5/x64/Debug/*
Homework/Task №6/x64/Debug/*
Homework/Task №7/x64/Debug/*
Homework/Task №8/x64/*
Homework/Task №9/x64/Debug/*
